<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-avatar>
      <img *ngIf="user.Photo" src={{user.Photo}}>
      <img *ngIf="!user.Photo" src="assets/imgs/no_image.png">
    </ion-avatar>
    <h2>{{user.DisplayName}}</h2>
  </ion-item>
  <ion-grid>
    <ion-row>
      <ion-col col-5>First Name</ion-col>
      <ion-col col-7>{{user.FirstName}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-5>Last Name</ion-col>
      <ion-col col-7>{{user.LastName}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-5>Display Name</ion-col>
      <ion-col col-7>{{user.DisplayName}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-5>Email</ion-col>
      <ion-col col-7>{{user.Email}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-5>Roles </ion-col>
      <ion-col col-7>{{user.Roles}}</ion-col>
    </ion-row>
  </ion-grid>
</ion-content>